    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
   .navbar {
        background: linear-gradient(to right, #4b6cb7, #182848);
        overflow: hidden;
        font-family: 'Georgia', serif;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        position: relative;
   }

   .navbar a {
       float: left;
       display: block;
       color: #fff;
       text-align: center;
       padding: 14px 20px;
       text-decoration: none;
       font-size: 17px;
       position: relative;
       z-index: 1;
       transition: color 0.3s ease;
   }

   .navbar a::before {
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       background: rgba(255, 255, 255, 0.2);
       z-index: -1;
       transform: scaleX(0);
       transform-origin: left;
       transition: transform 0.3s ease;
   }

   .navbar a:hover::before {
       transform: scaleX(1);
   }

   .navbar a:hover {
       color: #fff;
   }
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .cat-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    .cat {
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }
    .cat img {
        width: 100%;
        height: auto;
    }
    .vote-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .vote-button:hover {
        background-color: #0056b3;
    }
    .form-container {
        max-width: 600px;
        margin: 0 auto;
    }
    form {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="file"],
    textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 15px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
